@{
    ViewBag.Title = "定义线体";
    var htmlAttribute = ViewData["Dictionary"] as IDictionary<string, object>;
    Layout = null;
}
@using MVC_PubReport.Models.IE
@{     
    var request = HttpContext.Current.Request;
    var requestScheme = request.Url.Scheme;
    var requestAuth = request.Url.Authority;
    var path = HttpRuntime.AppDomainAppVirtualPath;
    var baseUrl = string.Format("{0}://{1}{2}", requestScheme, requestAuth, path);
   
    //var baseUrl = string.Format("{0}://{1}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority);
    
}
@model IEnumerable<TIE_DepartMent> 
<script src="~/Scripts/Pub_Report_IE_DepartMent.js"></script>  
<h5><a href="@baseUrl" >首页</a>>>IE资料维护>>定义线体</h5>
 

<form class="form-inline" role="form" id ="IE_ModelStageForm">
    <div  style="margin-left:40%">
        <label id="message-error" class="message-error"></label>
        <label id="message-success" class="message-success"></label>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"> <span class="glyphicon glyphicon-th-list"> </span> IE_DepartMent</h3>
        </div>
        <div class="panel-body"> 
            <div class="container">                
                <div class="row">
                    <div class="col-md-6 divCSS" id="EditModel">  
                        <div class="row">
                            <label>Line:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" id="Line" class="form-control" />

                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shift:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select id="Shift">
                                <option value="">--Please Select--</option>
                                <option value="D">D</option>
                                <option value="L">L</option>
                            </select>
                           
                        </div>
                        <div class="row">
                            <label>LineNO:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" id="LineNO" class="form-control" />
                                                       
                        </div>
                        <div class="row">
                           <label>DepartNO:</label>
                            <input type="text" id="DepartNO"  class="form-control"/> 
                        </div>
                        <div class="row">
                            <label>Mode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" id="Mode" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-md-4 ">
                                 
                            </div> 
                            <input type="button" value="Add/Modify" class="btn btn-primary btn-sm" id="save" />

                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 divCSS">
                        <div class="row">
                             <span style="color: Red">(Upload by Excel.<a href="~/FileDL/DLFile?fileName=IE_DepartMent_Temp.xlsx"
                                class="btlink"  style="color:#00059B">Download，</a>Please donot change column name and sheet name)</span>
                        </div>
                        <div class="row">
                            <input type="file" id="UploadExcelFilePath" name="UploadExcelFilePath" />
                            <input type="button" value="Upload Excel" class="btn btn-primary btn-sm" id="UploadExcel"  />
                        </div>
                        <div class="row col-md-9 ">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="" id="prog_in">
                                    <span class="sr-only">40%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-filter"> </span> IE_DepartMent Detail</h3>
        </div>
        <div class="panel-body">
              <div id="toolbar" class="toolbar">  
                <div class="btn-group">  
                    <button type="button" class="btn btn-default" data-toggle="tooltip"  id="ToExcel"  data-placement="top" title="Download" >  
                        <i class="glyphicon glyphicon-arrow-down"></i>  
                    </button>  
                    <button type="button"  class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="Delete" id="delete" >  
                        <i class="glyphicon glyphicon-trash"></i>  
                    </button>  
                </div>  
            </div> 
            <table class="table table-hover"  id="ResultTable"  >
 
            </table>
        </div>
    </div>
</form>
<div class="modal fade" id="doing" tabindex="-1" role="dialog" data-backdrop="static" >  
            <div class="modal-dialog" role="alertdialog">  
                
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h3>Please wait</h3>  
                    </div>  
                    <div class="modal-body">  
                        <img src="~/CSS/Images/doing.gif" style="margin-left:40%" />
                    </div>
                </div>
            </div>
   </div>

 






